header {
    background: url("/resources/imgs/header/static-header.png") center no-repeat, url("/resources/imgs/header/static-header-clouds.png") center repeat-x;
    background-size: contain, cover;
    background-repeat: no-repeat;
    height: 15vh;
    margin: 0;
}

input::placeholder {
    font-style: italic;
}

table,
th,
td {
    border: 0.09rem solid #000;
    padding: 1vw;
    background-color: #FFF;
}

.pokeContainer {
    width: 10vw;
    height: 20vw;
    background-color: #ccc;
}